<template>
  <div class="goodadd">
    <bread-ce parent="商品列表" children="商品管理"></bread-ce>
    <el-alert
      title="添加商品信息"
      type="info"
      center
      show-icon
      style="margin-top:15px;margin-bottom:15px;"
      :closable="false"
    ></el-alert>
    <el-steps
      :space="200"
      :active="+index"
      finish-status="success"
      align-center
      style="display:flex;"
    >
      <el-step :title="item.name" v-for="(item,index) in steps" :key="index" style="flex:1;"></el-step>
    </el-steps>
    <el-tabs
      tab-position="left"
      style="margin-top:15px;margin-bottom:15px;max-height:400px;overflow-y:auto;"
      v-model="index"
    >
      <el-tab-pane
        :label="item.name"
        :name="''+(index+1)"
        v-for="(item,index) in steps"
        :key="index"
      >
        <template v-if="item.name=='基本信息'">
          <el-form :rules="paramsss" ref="params" :model="params">
            <el-form-item
              label="商品名称"
              style="margin-top:25px;margin-bottom:20px;"
              prop="goods_name"
            >
              <el-input v-model="params.goods_name"></el-input>
            </el-form-item>
            <el-form-item
              label="商品价格"
              style="margin-top:25px;margin-bottom:20px;"
              prop="goods_price"
            >
              <el-input v-model="params.goods_price"></el-input>
            </el-form-item>
            <el-form-item
              label="商品重量"
              style="margin-top:25px;margin-bottom:20px;"
              prop="goods_weight"
            >
              <el-input v-model="params.goods_weight"></el-input>
            </el-form-item>
            <el-form-item
              label="商品数量"
              style="margin-top:25px;margin-bottom:20px;"
              prop="goods_number"
            >
              <el-input v-model="params.goods_number"></el-input>
            </el-form-item>
            <el-form-item label="商品分类" style="margin-top:25px;margin-bottom:20px;">
              <div class="block">
                <el-cascader
                  v-model="params.goods_cat"
                  :options="options"
                  :props="props"
                  @change="handleChange"
                  :disabled="id?true:false"
                ></el-cascader>
              </div>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item.name=='商品参数'">
          <el-form label-position="top">
            <el-form-item
              :label="item.attr_name"
              v-for="(item,index) in params.attrs"
              :key="item.attr_id"
            >
              <el-checkbox
                checked
                :label="_item"
                border
                v-for="(_item,_index) in ccccc(item.attr_vals)"
                :key="_index"
                @click.native="deletehaner(index,_index)"
              ></el-checkbox>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item.name=='商品属性'">
          <el-form label-position="top">
            <el-form-item
              :label="item.attr_name"
              v-for="(item,index) in params._attrs"
              :key="index"
            >
              <el-input v-model="item.attr_vals"></el-input>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item.name=='商品图片'">
          <el-upload
            class="upload-demo"
            action="http://120.26.128.6:8889/api/private/v1/upload"
            :headers="headers"
            :on-remove="handleRemove"
            :on-success="hansuccess"
            list-type="picture"
            :file-list="params.pics"
          >
            <el-button size="small" type="primary">点击上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
          </el-upload>
        </template>
        <template v-if="item.name=='商品内容'">
          <el-button @click.native="addgoodsd">添加商品</el-button>
          <quill-editor v-model="params.goods_introduce"
                ref="myQuillEditor"
                :options="editorOption"
                @blur="onEditorBlur($event)"
                @focus="onEditorFocus($event)"
                @ready="onEditorReady($event)">
          </quill-editor>
        </template>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import { quillEditor ,Quill} from 'vue-quill-editor'
import {container, ImageExtend, QuillWatch} from 'quill-image-extend-module'
  Quill.register('modules/ImageExtend', ImageExtend)

import breadCe from "../../components/sy";
import { goodslist,getgoodlist,addgoodsd,cahxunshag,xiugaigoods} from "../../http/log";

import { _baseUrl } from "../../http";
export default {
  components: {
    breadCe,
    quillEditor
  },
  props:['id'],
  data() {
    return {
      steps: [
        {
          name: "基本信息"
        },
        {
          name: "商品参数"
        },
        {
          name: "商品属性"
        },
        {
          name: "商品图片"
        },
        {
          name: "商品内容"
        }
      ],
      index: "1",
      input: "",
      value: [],
      options: [],
      props: {
        expandTrigger: "hover",
        value: "cat_id",
        label: "cat_name",
      },
      params: {
        goods_name: "",
        goods_cat: [],
        goods_price: "",
        goods_number: "",
        goods_weight: "",
        goods_introduce: "",
        pics: [],
        attrs: [],
        _attrs: [],
        value: true
      },
      checked1: "",
      paramsss: {
        goods_name: [
          {
            required: true,
            message: "请输入商品名称"
          }
        ],
        goods_price: [
          {
            required: true,
            message: "请输入商品价格"
          }
        ],
        goods_weight: [
          {
            required: true,
            message: "请输入商品重量"
          }
        ],
        goods_number: [
          {
            required: true,
            message: "请输入商品分类"
          }
        ]
      },
      val: true,
      headers:{
        Authorization:this.$store.state.token
      },
      baseUrl:_baseUrl,
      editorOption: {  
          modules: {
            ImageExtend: {
              loading: true,
              name: 'file',
              headers: (xhr) => {
                xhr.setRequestHeader('Authorization',this.$store.state.token)
              }, 
              action: 'http://120.26.128.6:8889/api/private/v1/upload',
              response: (res) => {
                return 'http://120.26.128.6:8889/' + res.data.url.split(':/')[res.data.url.split(':/').length-1]
              }
            },
            toolbar: {
              container: container,
              handlers: {
                'image': function () {
                  QuillWatch.emit(this.quill.id)
                }
              }
            }
          }
        },
    };
  },
  methods: {
    handleChange(value) {
      console.log(value);
    },
    async goodslist() {
      const res = await goodslist();
      this.options = res;
    },
    async getgoodlist(sel) {
      return await getgoodlist(
        this.params.goods_cat[this.params.goods_cat.length - 1],
        sel
      );
    },
    ccccc(val) {
      return val.split(",");
    },
    // 删除选项checkbox
    deletehaner(index, _index) {
      let attr_vals = this.params.attrs[index].attr_vals.split(",");
      attr_vals.splice(_index, 1);
      this.params.attrs[index].attr_vals = attr_vals.join();
      console.log(index);
    },
    add(index) {
      console.log(index);
    },
    hansuccess(res){
      const {data:{tmp_path}}=res;
      this.params.pics.push({
        pic:tmp_path
      })
    },
    handleRemove(file, fileList){
      const index=this.params.pics.findIndex(item=>{
        return item.pic===file.response.data.tmp_path
      })
      this.params.pics.splice(index,1)
    },
    async addgoodsd(){
      const data=Object.assign(this.params,{
        goods_cat:this.params.goods_cat.join(),
        attrs:[...this.params.attrs,...this.params._attrs],
      })
      if(this.id){
        await xiugaigoods(data);
        
      }else{
        await addgoodsd(data);
      }
      this.$router.replace({
        name:'goods'
      })
    },
    
      onEditorBlur(quill) {
        console.log('editor blur!', quill)
      },
      onEditorFocus(quill) {
        console.log('editor focus!', quill)
      },
      onEditorReady(quill) {
        console.log('editor ready!', quill)
      },
    
    async cahxunshag(){
      const res=await cahxunshag(this.id);
      const {
        goods_name,
        goods_price,
        goods_number,
        goods_weight,
        goods_introduce,
        pics,
        attrs,
        goods_id
      }=res;
      let arr=[];
      pics.map(item=>{
        arr.push({
          name:item.pics_big,
          url:item.pics_big
        })
      })
      const obj=Object.assign(this.params,{
        goods_name,
        goods_price,
        goods_number,
        goods_weight,
        goods_introduce,
        pics:arr,
        attrs,
        goods_id,
        goods_cat:res.goods_cat.split(',')
      });
      this.params=obj;
      return res;
    },
  },
  watch: {
    async index(val) {
      if (val != 1 && this.params.goods_cat.length <= 2) {
        this.$message({
          type: "error",
          message: "请添加三级选项"
        });
      } else {
        if (val == 2) {
          const res = await this.getgoodlist("many");
          console.log(res);
          this.params.attrs = res;
        } else if (val == 3) {
          const res = await this.getgoodlist("only");
          this.params._attrs = res;
        }
      }
    }
  },
  async created() {
    console.log(this.params)
    await this.goodslist();
    if(this.id){
      this.cahxunshag();
    }
  }
};
</script>
<style lang="scss" scoped>
.goodadd {
  background: #fff;
  padding: 15px;
}
</style>