<template>
  <div class="goodsfen">
    <bread-cu parent="商品管理" children="商品分类"></bread-cu>
    <el-button type="success" plain>添加分类</el-button>
    <el-table :data="list.result" style="width: 100%;height:450px;overflow-y:auto">
      <el-table-column type="expand">
        <template slot-scope="props">
          <el-form label-position="left" inline class="demo-table-expand">
            <el-table :data="props.row.children" style="width: 100%;">
                
                <el-table-column type="expand">
                    <template slot-scope="propss">
                        <el-table :data="propss.row.children" style="width: 100%;">
                            <el-table-column prop="cat_name"></el-table-column>
                            <el-table-column prop="cat_level" width="180px"></el-table-column>
                            <el-table-column prop="aaaaa" width="365px"></el-table-column>
                            <el-table-column prop="desc">
                                <template slot-scope="">
                                <el-button
                                    type="primary"
                                    icon="el-icon-edit"
                                    circle
                                    size="small"
                                ></el-button>
                                <el-button
                                    type="danger"
                                    icon="el-icon-delete"
                                    circle
                                    size="small"
                                ></el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                </el-table-column>
                <el-table-column prop="cat_name"></el-table-column>
                <el-table-column prop="cat_level" width="180px"></el-table-column>
                <el-table-column prop="aaaaa" width="365px"></el-table-column>
                <el-table-column prop="desc">
                    <template slot-scope="">
                    <el-button
                        type="primary"
                        icon="el-icon-edit"
                        circle
                        size="small"
                    ></el-button>
                    <el-button
                        type="danger"
                        icon="el-icon-delete"
                        circle
                        size="small"
                    ></el-button>
                    </template>
                </el-table-column>
            </el-table>
          </el-form>
        </template>
      </el-table-column>
      <el-table-column label="分类名称" prop="cat_name"></el-table-column>
      <el-table-column label="级别" prop="cat_level" width="180px"></el-table-column>
      <el-table-column label="是否有效" prop="aaaaa" width="365px"></el-table-column>
      <el-table-column label="操作" prop="desc">
        <template slot-scope="">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="block">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="params.pagenum"
        :page-sizes="[1,2,3,4,5]"
        :page-size="100"
        layout="total, sizes, prev, pager, next, jumper"
        :total="list.total"
      ></el-pagination>
    </div>
  </div>
</template>
<script>
import breadCu from "../../components/sy";
import { goodslist ,goodsfeiddd} from "../../http/log";
export default {
  components: {
    breadCu
  },
  data() {
    return {
        currentPage4: 4,
        params:{
            query:'',
            pagenum:1,
            pagesize:5,
        },
        list:[],
    };
  },
  methods: {
    
      handleSizeChange(val) {
        this.params.pagesize = val;
        this.goodsfeiddd();
      },
      handleCurrentChange(val) {
        this.params.pagenum = val;
        this.goodsfeiddd();
      },
    async goodsfeiddd(){
        const res=await goodsfeiddd(this.params);
        this.list=res;
        this.list.result.map(item=>{
            item.aaaaa="有效"
        })
    },
    
      
  },
  async created() {
    await this.goodsfeiddd();
    console.log(this.list.result);
  },
};
</script>
<style lang="scss" scoped>
.goodsfen {
  background: #fff;
  padding: 15px;
}
</style>