<template>
  <div class="goods">
    <bread-ce parent="商品管理" children="商品列表"></bread-ce>
    <div class="useript">
      <el-input v-model="query" placeholder="请输入内容" @keyup.enter.native="serchusername">
        <el-button slot="append" icon="el-icon-search" @click="serchusername"></el-button>
      </el-input>
    </div>
    <el-button type="primary" @click="goodadd">添加商品</el-button>
    <el-table :data="list.goods" border style="width: 100%;min-height:93px;max-height:450px;overflow-y:auto">
      <el-table-column type="index" width="50"></el-table-column>
      <el-table-column prop="goods_name" label="商品名称"></el-table-column>
      <el-table-column prop="goods_price" label="商品价格(元)"></el-table-column>
      <el-table-column prop="goods_weight" label="商品重量"></el-table-column>
      <el-table-column label="日期" width="180">
        <template slot-scope="scope">{{scope.row.create_time | dealdate}}</template>
      </el-table-column>
      <el-table-column label="操作" width="180">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
            @click.native="biagoods(scope.row.goods_id)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small"
            @click.native="clearboom(scope.row.id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[1, 2, 3, 4, 5, 6,7]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="list.total"
    ></el-pagination>
  </div>
</template>
<script>
import breadCe from "../../components/sy";
import {goodsfei} from '../../http/log'
export default {
  components: {
    breadCe
  },
  data() {
    return {
      input: "",
      value: true,
      query:'',
      pro: ["#", "姓名", "邮箱", "电话", "创建日期", "用户状态", "操作"],
      currentPage4: 4,
      params:{
          query:'',
          pagenum:1,
          pagesize:7,
      },
      list:[]
    };
  },
  methods:{
      async goodsfei(){
          const res=await goodsfei(this.params);
          this.list=res;
      },
    handleSizeChange(val) {
      this.params.pagesize = val;
      this.goodsfei();
    },
    handleCurrentChange(val) {
      this.params.pagenum = val;
      this.goodsfei();
    },
    serchusername() {
      this.params.query = this.query;
      this.params.pagenum=1;
      this.goodsfei();
    },
    goodadd(){
        this.$router.push({
            name:'goodschil'
        })
    },
    biagoods(id){
        this.$router.push({
            name:'biagoods',
            params:{
              id
            }
        })
    }
  },
  created(){
      this.goodsfei();
  }
};
</script>
<style lang="scss" scoped>
.goods {
  background: #fff;
  padding: 15px 0 0 15px;
}
</style>