<template>
  <div class="goodsquan">
    <bread-ce parent="商品管理" children="分类参数"></bread-ce>
    <el-alert title="注意:只允许为第三级分类设置参数" type="warning" style="margin-bottom:15px" show-icon></el-alert>
    <el-row>
      请选择商品分类
      <el-cascader
        v-model="params.goods_cat"
        :options="options"
        :props="props"
        @change="handleChange"
      ></el-cascader>
    </el-row>

    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="动态参数" name="first">
        <el-button type="primary" size="small">设置动态参数</el-button>
        <el-table :data="params.attrs" style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
                <el-tag
                  :key="tag"
                  v-for="tag in ccccc(props.row.attr_vals)"
                  closable
                  :disable-transitions="false"
                  @close="updataload(props.row,tag)"
                >{{tag}}</el-tag>
                <el-input
                  class="input-new-tag"
                  v-if="inputVisible[props.$index]"
                  v-model="inputValue[props.$index]"
                  :ref='"saveTagInput"+props.$index'
                  size="small"
                  @keyup.enter.native="handleInputConfirm(props)"
                  @blur="handleInputConfirm(props)"
                ></el-input>
                <el-button v-else class="button-new-tag" size="small" @click="showInput(props.$index)">+ New Tag</el-button>
              </el-form>
            </template>
          </el-table-column>
          <el-table-column label="#" prop width="40px"></el-table-column>
          <el-table-column label="商品 ID" prop="attr_name" width="180px"></el-table-column>
          <el-table-column label="操作" prop="name">
            <template slot-scope="">
              <el-button plain size="small" style="margin-right:10px">
                <i class="el-icon-edit"></i>
              </el-button>
              <el-button type="danger" plain size="small">
                <i class="el-icon-delete"></i>
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="静态参数" name="second">
        <el-button type="primary" size="small">设置静态参数</el-button>
        
        <el-table :data="params._attrs" style="width: 100%;height:729px;overflow-y:auto;">
          <el-table-column label="#" prop width="40px" type="index"></el-table-column>
          <el-table-column label="商品 ID" prop="attr_name" width="180px"></el-table-column>
          <el-table-column label="商品 ID" prop="attr_vals" width="180px"></el-table-column>
          <el-table-column label="操作" prop="name">
            <template slot-scope="scope">
              <el-button plain size="small" style="margin-right:10px">
                <i class="el-icon-edit"></i>
              </el-button>
              <el-button type="danger" plain size="small" @click.native="dedked(scope.row)">
                <i class="el-icon-delete"></i>
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
import breadCe from "../../components/sy";
import { goodslist, getgoodlist,updataload ,deeldasd} from "../../http/log";
export default {
  components: {
    breadCe
  },
  data() {
    return {
      activeName: "first",
      options: [],
      props: {
        expandTrigger: "hover",
        value: "cat_id",
        label: "cat_name"
      },
      params: {
        goods_name: "",
        goods_cat: [],
        goods_price: "",
        goods_number: "",
        goods_weight: "",
        goods_introduce: "",
        pics: [],
        attrs: [],
        _attrs: [],
        value: true
      },
      
        inputVisible: [],
        inputValue: [],
        
      ccccc(val) {
        return val.split(",");
      },
    };
  },
  methods: {
    async goodslist() {
      const res = await goodslist();
      this.options = res;
    },
    async handleChange(value) {
      const res = await this.getgoodlist("many");
      this.params.attrs = res;
        const ress = await this.getgoodlist("only");
        this.params._attrs = ress;
      console.log(this.params);
      console.log(this.options[0].cat_id);
    },
    async getgoodlist(sel) {
      return await getgoodlist(
        this.params.goods_cat[this.params.goods_cat.length - 1],
        sel
      );
    },
     handleClose(tag) {
        this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
      },

      showInput(index) {
        this.$set(this.inputVisible,index,true)
        this.$nextTick(_ => {
          this.$refs["saveTagInput"+index].$refs.input.focus();
        });
      },

      async handleInputConfirm(obj) {
        let val=this.inputValue[obj.$index];
        if(!val){
          this.$message({
            message:'请输入属性'
          })
          return 
        }
        const {attr_name,attr_sel,attr_vals} =obj.row;
        let arr=attr_vals.split(',');
        arr.push(val)
        await updataload(this.params.goods_cat[2],obj.row.attr_id,{
          attr_name,
          attr_sel,
          attr_vals:arr.join()
        });
        obj.row=Object.assign(obj.row,{
          attr_vals:arr.join()
        })
        this.$set(this.inputValue,obj.$index,'')
        this.$set(this.inputVisible,obj.$index,false)
      },
      handleClick(val){
          console.log(val)
      },
      async updataload(obj,tag){
        const {attr_name,attr_sel,attr_vals} =obj;
        let arr=attr_vals.split(',');
        arr.splice(arr.indexOf(tag),1)
        await updataload(this.params.goods_cat[2],obj.attr_id,{
          attr_name,
          attr_sel,
          attr_vals:arr.join()
        });
        obj=Object.assign(obj,{
          attr_vals:arr.join()
        })
      },
      dedked(val){
        this.$confirm("是否永久删除该用户?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            this.deeldasd(val.cat_id,val.attr_id);
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消删除"
            });
          });
        console.log(val.attr_id)
        console.log(val.cat_id)
      },
      async deeldasd(id,attrid){
        await deeldasd(id,attrid);
        this.handleChange();
      }
  },
  async created() {
    await this.goodslist();
    console.log(this.options);
    console.log(this.params);
  },
  watch: {
    async activeName(val) {
      if (val == 1) {
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.goodsquan {
  background: #fff;
  padding: 15px;
}

  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }
</style>