<template>
  <div class="ridsid">
    <bread-cu parent="权限管理" children="权限列表"></bread-cu>
    <el-table :data="list" stripe style="width: 100%;height:450px;overflow-y:auto">
      <el-table-column type="index" label="#" width="50"></el-table-column>
      <el-table-column prop="authName" label="日期" width="180"></el-table-column>
      <el-table-column prop="path" label="姓名" width="180"></el-table-column>
      <el-table-column prop="pid" label="地址"></el-table-column>
    </el-table>
  </div>
</template>
<script>
import breadCu from "../../components/sy";
import {suoyouqx} from '../../http/log'
export default {
  components: {
    breadCu
  },
  data(){
      return {
          list:[]
      }
  },
  methods:{
      async suoyouqx(){
          const res=await suoyouqx();
          this.list=res;
          this.list.map(item=>{
              item.children.map(items=>{
                items.children.map(itemss=>{
                    this.list.push(itemss)
                })
              })
          })
      }
  },
  async created(){
      await this.suoyouqx();
      console.log(this.list)
  }
};
</script>
<style lang="scss" scoped>
.ridsid {
  background: #fff;
  padding: 15px;
}
</style>