<template>
  <div id="roles">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>角色列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-button type="primary" style="margin-top:15px;margin-bottom:15px;" @click.native="handou('添加角色')">添加角色</el-button>
    <el-table :data="roulesDate" style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="props">
          <el-row v-for="(item,index) in props.row.children" :key="index">
            <el-col :span="4">
              <el-tag closable @close="remnovejuse(props.row.id,item.id,scoped.$index,index)">>{{item.authName}}</el-tag><i class="el-icon-arrow-right"></i>
            </el-col>
            <el-col :span="20">
              <el-row v-for="(_item,_index) in item.children" :key="_index">
                <el-col :span="6">
                  <el-tag closable type="success" @close="remnovejuse(props.row.id,_item.id,scoped.$index,index,_index)">{{_item.authName}}</el-tag><i class="el-icon-arrow-right"></i>
                </el-col>
                <el-col :span="18">
                  <el-tag closable type="warning" v-for="(__item,__index) in _item.children" :key="__index" @close="remnovejuse(props.row.id,__item.id,scoped.$index,index,_index,__index)">{{__item.authName}}</el-tag><i class="el-icon-arrow-right"></i>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <el-table-column type="index" label="#" width="50px"></el-table-column>
      <el-table-column label="角色名称" prop="roleName"></el-table-column>
      <el-table-column label="角色描述" prop="roleDesc"></el-table-column>
      <el-table-column label="操作" prop="desc">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
            @click.native="handou('编辑角色',scope.row)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small"
            @click.native="clearboom(scope.row.id)"
          ></el-button>
          <el-button type="success" icon="el-icon-check" circle size="small" @click.native="quanxiansy(scope.row)"></el-button>
        </template>
      </el-table-column>
    </el-table>
    
    <el-dialog :title="title" :visible.sync="tan" width="600px">
      <el-form label-width="120px" :model="tanFrom" ref="tanFrom" :rules="tanFromrules">
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="tanFrom.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc">
          <el-input v-model="tanFrom.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="tan = false">取 消</el-button>
        <el-button type="primary" @click.native="handRoles">确 定</el-button>
      </span>
    </el-dialog>
    
    <el-dialog title="分配权限" :visible.sync="quanxian" width="600px">
      
      <template>
        <el-tree
          :data="lissss"
          show-checkbox
          node-key="id"
          default-expand-all
          :default-checked-keys="keydatas"
          :props="defaultProps"
          >
        </el-tree>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import {justjia,liejusbi,remnovejuse,bjianss,suoyouqx} from '../../http/log'
export default {
    data(){
        return {
        roulesDate: [],
        tan:false,
        tanFrom:{
            roleName:'',
            roleDesc:''
        },
        tanFromrules:{
            roleName:[
                {
                    required:true,
                    message:'请输入角色名称'
                }
            ],
            roleDesc:[
                {
                    required:true,
                    message:'请输入角色信息'
                }
            ],
        },
        title:'添加角色',
         dataa: [{
          id: 1,
          label: '一级 1',
          children: [{
            id: 4,
            label: '二级 1-1',
            children: [{
              id: 9,
              label: '三级 1-1-1'
            }, {
              id: 10,
              label: '三级 1-1-2'
            }]
          }]
        }, {
          id: 2,
          label: '一级 2',
          children: [{
            id: 5,
            label: '二级 2-1'
          }, {
            id: 6,
            label: '二级 2-2'
          }]
        }, {
          id: 3,
          label: '一级 3',
          children: [{
            id: 7,
            label: '二级 3-1'
          }, {
            id: 8,
            label: '二级 3-2'
          }]
        }],
        defaultProps: {
          children: 'children',
          label: 'authName'
        },
        quanxian:false,
        lissss:[],
        getright:'',
        keydatas:[],
      }
    },
    methods:{
      async justjia(){
        await justjia(this.tanFrom);
      },
      async handRoles(){
        this.$refs.tanFrom.validate(async valite=>{
          if(valite){
            if(this.title==="添加角色"){
              await this.justjia();
            }else{
              await this.bjianss();
            }
            this.tan=false;
            this.$refs.tanFrom.resetFields();
            this.liejusbi();
          }else{
            return false;
          }
        })
      },
      async liejusbi(){
        const res=await liejusbi();
        this.roulesDate=res;
      },
      async remnovejuse(roleId,rightId,index1,index2,index3,index4){
        await remnovejuse(roleId,rightId);
        if(arguments.length==4){
          this.roulesDate[index1].children.splice(index2,1);
        }else if(arguments.length==5){
          this.roulesDate[index1].children[index2].children.splice(index3,1);
        }else{
          this.roulesDate[index1].children[index2].children[index3].children.splice(index4,1);
        }
      },
      handou(title,role){
        this.title=title;
        this.tan=true;
        this.$nextTick(()=>{
          this.$refs.tanFrom.resetFields();
          role && (this.tanFrom=Object.assign(this.tanFrom,{roleName:role.roleName,roleDesc:role.roleDesc,id:role.id}))

        })
      },
      async bjianss(){
        await bjianss(this.tanFrom)
      },
      quanxiansy(obj){
        this.suoyouqx();
        this.quanxian=true;
        this.keydatas=[];
        this.getright=obj.id;
        obj.children.map(item => {
          item.children.map(item1 => {
            item1.children.map(item2 => {
              this.keydatas.push(item2.id);
            });
          });
        });
      },
      async suoyouqx(){
        const res=await suoyouqx();
        this.lissss=res;
        console.log(this.lissss);
      }
    },
    created(){
      this.liejusbi();
    }
};
</script>
<style lang="scss" scoped>
#roles {
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
}

  .demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
</style>