<template>
  <div id="wrap">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>欢迎登陆</span>
      </div>
      <el-form
        :model="ruleForm"
        status-icon
        :rules="rules"
        ref="ruleForm"
        class="demo-ruleForm"
      >
        <el-form-item prop="username">
          <el-input v-model.number="ruleForm.username">
            <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input type="password" v-model="ruleForm.password" autocomplete="off">
            <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')" style="width:100%;">提交</el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<script>
export default {
  data() {
    var validateusername = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入用户名"));
      } else {
        callback();
      }
    };
    var validatepassword = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入密码"));
      } else {
        callback();
      }
    };
    return {
      ruleForm: {
        username: "",
        password: "",
      },
      rules: {
        username: [{ validator: validateusername, trigger: "blur" }],
        password: [{ validator: validatepassword, trigger: "blur" }],
      }
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          const res=await this.login();
          const {token,username}=res.data;
          this.$store.commit('settoken',token);
          this.$store.commit('setusername',username);
          this.$router.push({
            name:'users'
          })
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    login(){
      return this.$http('login','post',this.ruleForm).then(res=>{
        this.$message({
          message:res.meta.msg,
          type:'success'
        })
        return res;
        console.log(res);
      }).catch(err=>{
        console.log(err);
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
};
</script>
<style lang="scss" scoped>
#wrap {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/login-bg.0899ffa6.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  float: right;
  justify-content: flex-end;
}
.text {
  font-size: 14px;
}

  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 300px;
    margin-right: 160px;
  }
</style>