<template>
  <div class="load">
    <bread-cu parent="订单管理" children="订单列表"></bread-cu>
    <el-table :data="list.goods" stripe style="width: 100%">
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <el-table-column prop="order_number" label="日期" width="300"></el-table-column>
      <el-table-column prop="order_price" label="姓名" width="80"></el-table-column>
      <el-table-column prop="pay_status" label="地址" width="100"></el-table-column>
      <el-table-column prop="is_send" label="地址"></el-table-column>
      <el-table-column label="地址">
        <template slot-scope="scope">{{scope.row.create_time | dealdate}}</template>
      </el-table-column>
      <el-table-column prop="address" label="地址"></el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[10,9,8,7,6,5,4,3,2,1]"
      :page-size="100"
      layout="total, sizes, prev, pager, next, jumper"
      :total="list.total"
    ></el-pagination>
  </div>
</template>
<script>
import breadCu from "../components/sy";
import { getolder } from "../http/log";
export default {
  components: {
    breadCu
  },
  data() {
    return {
      list: [],
      params: {
        query: "",
        pagenum: 1,
        pagesize: 10,
        user_id: "",
        pay_status: "",
        is_send: "",
        order_fapiao_title: [],
        order_fapiao_company: "",
        order_fapiao_content: "",
        consignee_addr: ""
      }
    };
  },
  methods: {
      handleSizeChange(val) {
        this.params.pagesize = val;
        this.getolder();
      },
      handleCurrentChange(val) {
        this.params.pagenum = val;
        this.getolder();
      },
    async getolder() {
      const res = await getolder(this.params);
      this.list = res;
    }
  },
  async created() {
    await this.getolder();
    console.log(this.list);
  }
};
</script>
<style lang="scss" scoped>
.load {
  background: #fff;
  padding: 15px;
}
</style>