<template>
  <div id="index">
    <el-container style="height: 100vh; border: 1px solid #eee">
      <el-aside width="200px" style="background-color: rgb(0, 21, 41);">
        <h1 class="logo">后台管理</h1>
        <el-menu style="background-color: rgb(0, 21, 41);" router :default-active="defaultActive">
          <el-submenu :index="''+index" v-for="(item,index) in menus" :key="index">
            <template slot="title" v-if="item.path=='users'">
              <i class="el-icon-message"></i>
              {{item.authName}}
            </template>
            <template slot="title" v-if="item.path=='rights'">
              <i class="el-icon-s-fold"></i>
              {{item.authName}}
            </template>
            <template slot="title" v-if="item.path=='goods'">
              <i class="el-icon-s-data"></i>
              {{item.authName}}
            </template>
            <template slot="title" v-if="item.path=='orders'">
              <i class="el-icon-bangzhu"></i>
              {{item.authName}}
            </template>
            <template slot="title" v-if="item.path=='reports'">
              <i class="el-icon-fork-spoon"></i>
              {{item.authName}}
            </template>
            <el-menu-item
              v-for="(_item,_index) in item.children"
              :key="_index"
              :index="'/shou/'+_item.path"
            >{{_item.authName}}</el-menu-item>
          </el-submenu>
        </el-menu>
      </el-aside>

      <el-container>
        <el-header style="text-align: right; font-size: 12px">
          <el-dropdown>
            <i class="el-icon-setting" style="margin-right: 15px"></i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="clearbo">退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <span>{{$store.state.username}}</span>
        </el-header>
        
        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>
<script>
import { gettoken } from "@/http/log";
import { getlei } from "@/http/log";
export default {
  data() {
    const item = {
      date: "2016-05-02",
      name: "王小虎",
      address: "上海市普陀区金沙江路 1518 弄"
    };
    return {
      tableData: Array(20).fill(item),
      menus: [],
      list:[],
      defaultActive:'',
      input:'',
      pro:['#','姓名','邮箱','电话','创建日期','用户状态','操作']
    };
  },
  methods: {
    clearbo(){
      this.$store.commit('install');
      this.$router.push({
        name:'Loong'
      })
    }
  },
  created() {
    gettoken()
      .then(res => {
        this.menus = res;
      })
      .catch(err => {});
  },
  watch:{
    $route:{
      handler(val){
        this.defaultActive=val.path;
      },
      immediate:true
    }
  }
};
</script>
<style lang="scss">
.el-header {
  background-color: #fff;
  color: #333;
  line-height: 60px;
  border: 1px solid #eee;
}

.el-aside {
  color: #333;
}
#index .el-submenu .el-menu {
  background-color: rgb(0, 21, 41);
}
#index .el-submenu .el-menu-item {
  background-color: rgb(0, 21, 41);
}
#index .el-submenu__title {
  background-color: rgb(0, 21, 41);
  color: rgb(153, 153, 153);
}
#index .el-menu-item.is-active {
  color: #fff;
}
#index .el-menu-item {
  color: rgb(153, 153, 153);
}
#index .logo {
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
}
#index .el-main {
  padding: 15px;
  background: #eee;
}
#index .biaot{
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
}
#index .useript{
  width: 350px;
  float: left;
  margin-right: 15px;
}
</style>