<template>
  <div class="reports" id="app">
    <bread-cu parent="数据统计" children="数据报表"></bread-cu>

    <x-chart :id="id" :option="option"></x-chart>
  </div>
</template>
<script>
import breadCu from "../components/sy";

import XChart from '../components/chart'
import "echarts/lib/chart/line";
import 'echarts/lib/chart/bar'
import 'echarts/lib/component/tooltip'
import { zhexiantu } from "../http/log";
export default {
    
    name: 'app',
  components: {
    breadCu,
    XChart
  },
  data() {
    return {
        id: 'test',
        option: {},
    };
  },
  async mounted(){
      
  },
  async created(){
    const res=await zhexiantu();
    this.option=res;
  },
 
};
</script>
<style lang="scss" scoped>
.reports {
  background: #fff;
  padding: 15px;
}
</style>