<template>
  <div style="background:#fff;padding:15px 0 0 15px;">
    <el-breadcrumb separator="/" style="margin-bottom:15px;">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>活动列表</el-breadcrumb-item>
      <el-breadcrumb-item>活动详情</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="useript">
      <el-input v-model="query" placeholder="请输入内容" @keyup.enter.native="serchusername">
        <el-button slot="append" icon="el-icon-search" @click="serchusername"></el-button>
      </el-input>
    </div>
    <el-button type="primary" @click="dialogVisible=true">添加用户</el-button>
    <el-table :data="list.users" border style="width: 100%">
      <el-table-column type="index" width="50"></el-table-column>
      <el-table-column label="日期" width="180">
        <template slot-scope="scope">{{scope.row.create_time | dealdate}}</template>
      </el-table-column>
      <el-table-column prop="username" label="姓名" width="180"></el-table-column>
      <el-table-column prop="email" label="地址" width="180"></el-table-column>
      <el-table-column label="用户状态" width="180">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.mg_state"
            active-color="#13ce66"
            inactive-color="#ff4949"
            @click.native="xiugai(scope.row)"
          ></el-switch>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="180">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
            @click.native="bianji(scope.row)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small"
            @click.native="clearboom(scope.row.id)"
          ></el-button>
          <el-button type="success" icon="el-icon-check" circle size="small" @click.native="fenpei(scope.row)"></el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[1, 2, 3, 4, 5, 6]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="list.total"
    ></el-pagination>

    <el-dialog title="新增用户" :visible.sync="dialogVisible" width="600px">
      <el-form label-width="120px" :model="userForm" :rules="userFormRules" ref="userForm">
        <el-form-item label="用户名" prop="username">
          <el-input v-model="userForm.username"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="userForm.password"></el-input>
        </el-form-item>
        <el-form-item label="电话" prop="mobile">
          <el-input v-model="userForm.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input v-model="userForm.email"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="handerAdds">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑用户" :visible.sync="editdialogVisible" width="600px">
      <el-form label-width="120px" :model="edituserfrom" ref="edituserfrom">
        <el-form-item label="用户名">
          <el-input v-model="edituserfrom.username" disabled></el-input>
        </el-form-item>
        <el-form-item label="电话">
          <el-input v-model="edituserfrom.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱">
          <el-input v-model="edituserfrom.email"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editdialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="handereaid">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="分配角色" :visible.sync="fffffdialogVisible" width="600px">
      <el-form label-width="120px" :model="fffffuserfrom" ref="edituserfrom">
        <el-form-item label="用户名">
          <el-input v-model="fffffuserfrom.username" disabled></el-input>
        </el-form-item>
        <el-form-item label="角色">
          <el-select v-model="fffffuserfrom.rid" placeholder="请选择">
            <el-option :value="-1" label="请选择">
            </el-option>
            <el-option
              v-for="item in options"
              :key="item.id"
              :label="item.roleName"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="fffffdialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="tijiaojuese">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { getlei, handerAdd, xiugai, bianji, deled, shenfenyan, getusersss, tijiaojuese } from "../http/log";
export default {
  data() {
    return {
      menus: [],
      list: [],
      input: "",
      value: true,
      pro: ["#", "姓名", "邮箱", "电话", "创建日期", "用户状态", "操作"],
      currentPage4: 4,
      params: {
        query: "",
        pagenum: 1,
        pagesize: 7
      },
      query: "",
      dialogVisible: false,
      userForm: {
        username: "",
        password: "",
        email: "",
        mobile: "",
        value: true
      },
      userFormRules: {
        username: [
          {
            required: true,
            message: "请输入用户名"
          }
        ],
        password: [
          {
            required: true,
            message: "请输入密码"
          }
        ],
        email: [
          {
            required: true,
            message: "请输入邮箱"
          }
        ],
        mobile: [
          {
            required: true,
            message: "请输入手机号"
          }
        ]
      },
      editdialogVisible: false,
      edituserfrom: {
        username: "",
        email: "",
        mobile: "",
        id: ""
      },
      fffffdialogVisible:false,
      fffffuserfrom:{
        username:'',
        id:'',
        rid:''
      },
      options:[]
    };
  },
  methods: {
    handleSizeChange(val) {
      this.params.pagesize = val;
      this.getlei();
    },
    handleCurrentChange(val) {
      this.params.pagenum = val;
      this.getlei();
    },
    async getlei() {
      const res = await getlei(this.params);
      this.list = res;
    },
    serchusername() {
      this.params.query = this.query;
      this.getlei();
    },
    async handerAdd(data) {
      return await handerAdd(data);
    },
    handerAdds() {
      this.$refs.userForm.validate(async valid => {
        if (valid) {
          await this.handerAdd(this.userForm);
          this.dialogVisible = false;
          this.params = Object.assign(this.params, {
            query: "",
            pagenum: 1,
            pagesize: 7
          });
          this.getlei();
        } else {
          return false;
        }
      });
    },
    async xiugai(obj) {
      await xiugai(obj.id, obj.mg_state);
      this.getlei();
    },
    async handereaid() {
      await bianji(this.edituserfrom);
      this.getlei();
      this.editdialogVisible = false;
    },
    bianji(obj) {
      this.editdialogVisible = true;
      const { username, mobile, email, id } = obj;
      this.edituserfrom = Object.assign(this.edituserfrom, {
        username,
        mobile,
        email,
        id
      });
    },
    clearboom(id) {
      this.$confirm("是否永久删除该用户?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.deled(id);
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    async deled(id){
      await deled(id);
      this.getlei();
    },
    fenpei(obj){
      this.getusersss();
      this.fffffdialogVisible=true;
      const {username,id}=obj;
      this.fffffuserfrom = Object.assign(this.fffffuserfrom, {
        username,
        id
      });
      this.shenfenyan(this.fffffuserfrom.id);
    },
    async shenfenyan(id){
      const {rid} = await shenfenyan(id);
      this.fffffuserfrom=Object.assign(this.fffffuserfrom,{
        rid
      })
      this.getlei();
    },
    async getusersss(){
      const data=await getusersss();
      this.options=data;
    },
    async tijiaojuese(){
      const {id,rid}=this.fffffuserfrom;
      await tijiaojuese(id,rid);
      this.fffffdialogVisible=false;
      this.getlei();
    }
  },
  created() {
    this.getlei();
  }
};
</script>